PRODUCTION=False
PROD_SECRET_KEY=1NC3PT10N_528491_Dream_Within_A_Dream_q8t+6xnqqum#**@03*z15d+zhkvoyic9+(h@e*atkfj9r$lpcb
PROD_SECRET_KEY_FALLBACK=2NC3PT10N_194825_Dream_Within_A_Dream_q8t+6xnqqum#**@03*z15d+zhkvoyic9+(h@e*atkfj9r$lpcb
PROD_ALLOWED_HOSTS='psinergy.network'
SECURE_SSL_HOST='psinergy.network'
SECURE_SSL_REDIRECT=True
SECURE_REFERRER_POLICY='same-origin'
SECURE_HSTS_SECONDS=3600
SECURE_HSTS_PRELOAD=True
SECURE_HSTS_INCLUDE_SUBDOMAINS=True
X_FRAME_OPTIONS='DENY'
CSRF_COOKIE_SECURE=True
SESSION_COOKIE_SECURE=True
SESSION_COOKIE_AGE=3600
SESSION_COOKIE_NAME='sessionid'
SESSION_COOKIE_DOMAIN='psinergy.network'
SESSION_COOKIE_SAMESITE='Strict'
DEBUG_SECRET_KEY=django-insecure-ss8x12p_10yn5hb$@cn@=&5bc()&ly1n2(sg@_9@1!$77xz92f
DEBUG_ALLOWED_HOSTS='localhost, 127.0.0.1, 192.168.0.13'
DB_ENGINE=django.db.backends.postgresql
DB_NAME=sgcmedia
DB_USER=sgc
DB_PASSWORD=sgcmedia
DB_HOST=192.168.0.13
DB_PORT=5432
SITE_ID=1
