<!-- Navigation for everywhere -->

<header>
  <!-- Fixed navbar -->
  <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="{% url 'rokucontentfeed-list' %}"><strong>Roku Media Server</strong></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav me-auto mb-2 mb-md-0">
<!--
          <li class="nav-item">
            <a class="nav-link inactive" aria-current="page" href="{% url 'upload' %}">Upload</a>
          </li>
          <li class="nav-item">
            <a class="nav-link inactive" aria-current="page" href="{% url 'rokucontentfeed-list' %}">Search</a>
          </li>
          <li class="nav-item">
            <a class="nav-link inactive" aria-current="page" href="#">RSS</a>
          </li> -->
<!--          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown" aria-expanded="false">Media</a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="{% url 'media-video-list' %}">Videos</a></li>
              <li><a class="dropdown-item" href="{% url 'media-photo-list-gallery' %}">Photos</a></li>
              <li><a class="dropdown-item" href="{% url 'media-audio-list-gallery' %}">Audio</a></li>
              <li><a class="dropdown-item" href="{% url 'media-doc-list' %}">Docs</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="{% url 'media-video-list-api' %}">Videos API</a></li>
              <li><a class="dropdown-item" href="{% url 'media-photo-list-api' %}">Photos API</a></li>
              <li><a class="dropdown-item" href="{% url 'media-audio-list-api' %}">Audio API</a></li>
              <li><a class="dropdown-item" href="{% url 'media-doc-list-api' %}">Docs API</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="{% url 'video-service-list-api' %}">Video Services</a></li>
              <li><a class="dropdown-item" href="{% url 'photo-service-list-api' %}">Photo Services</a></li>
              <li><a class="dropdown-item" href="{% url 'audio-service-list-api' %}">Audio Services</a></li>
              <li><a class="dropdown-item" href="{% url 'doc-service-list-api' %}">Document Services</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="#">Video RSS</a></li>
            </ul>
          </li> -->

<!--           <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown" aria-expanded="false">Feeds</a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="{% url 'rokucontentfeed-list' %}">Content Feed</a></li>
              <li><a class="dropdown-item" href="#">Search Feed</a></li>
            </ul>
          </li> -->
          
          <li class="nav-item">
            <a class="nav-link inactive" aria-current="page" href="{% url 'rokucontentfeed-list' %}">Content Feed</a>
          </li>

          <li class="nav-item">
            <a class="nav-link inactive" aria-current="page" href="{% url 'playlist-list' %}">Playlists</a>
          </li>

          <li class="nav-item">
            <a class="nav-link inactive" aria-current="page" href="{% url 'category-list' %}">Categories</a>
          </li>
          
<!--           <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown" aria-expanded="false">Content Categories</a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="{% url 'playlist-list' %}">Playlists</a></li>
              <li><a class="dropdown-item" href="{% url 'category-list' %}">Categories</a></li>
            </ul>
          </li>
 -->
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown" aria-expanded="false">Content Types</a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="{% url 'movie-list' %}">Movies</a></li>
              <li><a class="dropdown-item" href="{% url 'livefeed-list' %}">Live Feeds</a></li>
              <li><a class="dropdown-item" href="{% url 'series-list' %}">Series</a></li>
              <li><a class="dropdown-item" href="{% url 'season-list' %}">Seasons</a></li>
              <li><a class="dropdown-item" href="{% url 'episode-list' %}">Episodes</a></li>
              <li><a class="dropdown-item" href="{% url 'shortformvideo-list' %}">Short-Form Videos</a></li>
              <li><a class="dropdown-item" href="{% url 'tvspecial-list' %}">TV Shows</a></li>
            </ul>
          </li>

          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown" aria-expanded="false">Content Properties</a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="{% url 'content-list' %}">Content</a></li>
              <li><a class="dropdown-item" href="{% url 'video-list' %}">Videos</a></li>
              <li><a class="dropdown-item" href="{% url 'caption-list' %}">Captions</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="{% url 'genre-list' %}">Genres</a></li>
              <li><a class="dropdown-item" href="{% url 'tag-list' %}">Tags</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="{% url 'rating-list' %}">Ratings</a></li>
              <li><a class="dropdown-item" href="{% url 'ratingsource-list' %}">Rating Sources</a></li>
              <li><a class="dropdown-item" href="{% url 'parentalrating-list' %}">Parental Ratings</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="{% url 'credit-list' %}">Credits</a></li>
              <li><a class="dropdown-item" href="{% url 'creditrole-list' %}">Credit Roles</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="{% url 'externalid-list' %}">External IDs</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="{% url 'language-list' %}">Languages</a></li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link inactive" aria-current="page" href="/admin/" target="_blank">Admin</a>
          </li>
          <li class="nav-item">
            {% if user.is_authenticated %}
              <p style='color:#FFF;'>{{ user.username }} <a class="nav-link inactive" aria-current="page" href="{% url 'logout' %}">Logout</a></p>
            {% else %}
              <a class="nav-link inactive" aria-current="page" href="{% url 'login' %}">Login</a>
            {% endif %}
          </li>

        </ul>
      </div>
    </div>
  </nav>
</header>
