<!-- Navigation for everywhere -->

<header>
  <!-- Fixed navbar -->
  <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="{% url 'media-video-list' %}"><strong>Content API</strong></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav me-auto mb-2 mb-md-0">
<!--
          <li class="nav-item">
            <a class="nav-link inactive" aria-current="page" href="{% url 'upload' %}">Upload</a>
          </li>
-->

        {% if user.is_authenticated %}
        
          <li class="nav-item">
            <a class="nav-link inactive" aria-current="page" href="#">Search</a>
          </li>

          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown" aria-expanded="false">Media</a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="{% url 'media-video-list' %}">Videos</a></li>
              <li><a class="dropdown-item" href="{% url 'media-photo-list-gallery' %}">Photos</a></li>
              <li><a class="dropdown-item" href="{% url 'media-audio-list-gallery' %}">Audio</a></li>
              <li><a class="dropdown-item" href="{% url 'media-doc-list' %}">Docs</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="{% url 'video-service-list' %}">Video Services</a></li>
              <li><a class="dropdown-item" href="{% url 'photo-service-list' %}">Photo Services</a></li>
              <li><a class="dropdown-item" href="{% url 'audio-service-list' %}">Audio Services</a></li>
              <li><a class="dropdown-item" href="{% url 'doc-service-list' %}">Document Services</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="{% url 'media-tag-list' %}">Tags</a></li>
              <li><a class="dropdown-item" href="{% url 'media-category-list' %}">Categories</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="{% url 'video-rss' %}" target="_blank">Video RSS</a></li>
              <li><a class="dropdown-item" href="{% url 'photo-rss' %}" target="_blank">Photo RSS</a></li>
              <li><a class="dropdown-item" href="{% url 'audio-rss' %}" target="_blank">Audio RSS</a></li>
              <li><a class="dropdown-item" href="{% url 'doc-rss' %}" target="_blank">Documents RSS</a></li>
            </ul>
          </li>

          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown" aria-expanded="false">Media API</a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="{% url 'media-video-list-api' %}" target="_blank">Videos API</a></li>
              <li><a class="dropdown-item" href="{% url 'media-photo-list-api' %}" target="_blank">Photos API</a></li>
              <li><a class="dropdown-item" href="{% url 'media-audio-list-api' %}" target="_blank">Audio API</a></li>
              <li><a class="dropdown-item" href="{% url 'media-audio-artists-api' %}" target="_blank">Artists API</a></li>
              <li><a class="dropdown-item" href="{% url 'media-audio-albums-api' %}" target="_blank">Albums API</a></li>
              <li><a class="dropdown-item" href="{% url 'media-doc-list-api' %}" target="_blank">Docs API</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="{% url 'video-service-list-api' %}" target="_blank">Video Services API</a></li>
              <li><a class="dropdown-item" href="{% url 'photo-service-list-api' %}" target="_blank">Photo Services API</a></li>
              <li><a class="dropdown-item" href="{% url 'audio-service-list-api' %}" target="_blank">Audio Services API</a></li>
              <li><a class="dropdown-item" href="{% url 'doc-service-list-api' %}" target="_blank">Document Services API</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="{% url 'media-tag-list-api' %}" target="_blank">Tag API</a></li>
              <li><a class="dropdown-item" href="{% url 'media-category-list-api' %}" target="_blank">Category API</a></li>
            </ul>
          </li>

          <li class="nav-item">
            <a class="nav-link inactive" aria-current="page" href="/admin/" target="_blank">Admin</a>
          </li>
          
          <li class="nav-item">
            <li class="nav-item">
              <a class="nav-link inactive" aria-current="page" href="{% url 'profile' %}">Profile</a>
            </li>
            <li class="nav-item">
              <a class="nav-link inactive" aria-current="page" href="{% url 'logout' %}">Logout</a>
            </li>
          </li>

          {% else %}
          
          <li class="nav-item">
            <li class="nav-item">
              <a class="nav-link inactive" aria-current="page" href="{% url 'django_registration_register' %}">Register</a>
            </li>
            <li class="nav-item">
              <a class="nav-link inactive" aria-current="page" href="{% url 'login' %}">Login</a>
            </li>
          </li>

          {% endif %}

        </ul>
      </div>
    </div>
  </nav>
</header>
