<!-- Navigation for everywhere -->

<header>
  <!-- Fixed navbar -->
  <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="{% url 'media-video-list' %}"><strong>Media Server</strong></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav me-auto mb-2 mb-md-0">

          <li class="nav-item">
            <a class="nav-link inactive" aria-current="page" href="{% url 'upload' %}">Upload</a>
          </li>
          <li class="nav-item">
            <a class="nav-link inactive" aria-current="page" href="{% url 'media-video-list' %}">Search</a>
          </li>
          <li class="nav-item">
            <a class="nav-link inactive" aria-current="page" href="#">RSS</a>
          </li>

          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{% url 'media-video-list' %}">Videos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{% url 'media-video-list-api' %}">Videos API</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{% url 'media-photo-list' %}">Photos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{% url 'media-photo-list-api' %}">Photos API</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{% url 'media-audio-list' %}">Audio</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{% url 'media-audio-list-api' %}">Audio API</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{% url 'media-doc-list' %}">Docs</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{% url 'media-doc-list-api' %}">Docs API</a>
          </li>
          <li class="nav-item">
            <a class="nav-link inactive" aria-current="page" href="#">Settings</a>
          </li>

        </ul>
      </div>
    </div>
  </nav>
</header>
