{% extends 'base.html' %}

{% load static %}

{% block content %}

<!-- Begin page content -->
<main class="flex-shrink-0">
  <div class="container">
    <p>&nbsp;</p>
    <h2 class="mt-5"><strong>Help</strong></h2>
    
    <h3>Overview</h3>

    <p>The purpose of this website is to provide a JSON formatted data feed of media content to be consumed by Roku streaming devices. The website seeks to manage the data feed, media content, and its metadata. It allows you to customize the content feed for your Roku Channel. The content feed is based on the <a href="https://developer.roku.com/docs/specs/direct-publisher-feed-specs/json-dp-spec.md" target="_blank">JSON Direct Publisher Feed Specification</a>.</p>

    <h3>Architecture</h3>
    <p>For architecture information view <a href="#">this page</a>.</p>
    
    <h3>Installation</h3>
    <p>This website is meant to be copied from the Github repo and self-hosted. For installation details view <a href="#">this page</a>.</p>
    
    <h3>Content Feed</h3>
    <p>.</p>

    <h3>Playlists</h3>
    <p>.</p>

    <h3>Categories</h3>
    <p>.</p>

    <h3>Content Types</h3>
    <p>.</p>
    <h4>Movies</h4>
    <p>.</p>
    <h4>Live Feeds</h4>
    <p>.</p>
    <h4>Series</h4>
    <p>.</p>
    <h4>Seasons</h4>
    <p>.</p>
    <h4>Episodes</h4>
    <p>.</p>
    <h4>Short-Form Video</h4>
    <p>.</p>
    <h4>TV Specials</h4>
    <p>.</p>
    
    <h3>Content Properties</h3>
    <p>.</p>
    <h4>Content</h4>
    <p>.</p>
    <h4>Videos</h4>
    <p>.</p>
    <h4>Captions</h4>
    <p>.</p>
    <h4>Genres</h4>
    <p>.</p>
    <h4>Tags</h4>
    <p>.</p>
    <h4>Ratings</h4>
    <p>.</p>
    <h4>Parental Ratings</h4>
    <p>.</p>
    <h4>Rating Sources</h4>
    <p>.</p>
    <h4>Credits</h4>
    <p>.</p>
    <h4>Credit Roles</h4>
    <p>.</p>
    <h4>External IDs</h4>
    <p>.</p>
    <h4>Languages</h4>
    <p>.</p>


  <!-- container end -->
  </div>

</main>

{% endblock %}