{% extends 'base.html' %}

{% load static %}

{% block content %}

<!-- Begin page content -->
<main class="flex-shrink-0">
  <div class="container">
    <p>&nbsp;</p>
    <h2 class="mt-5"><strong>Terms of Use</strong></h2>
    
    <h3>Terms</h3>

	<p>The purpose of this website is to provide a JSON formatted data feed of media content to be consumed by Roku streaming devices. The website seeks to manage the data feed, media content, and its metadata. It allows you to customize the content feed for your Roku Channel. The content feed is based on the <a href="https://developer.roku.com/docs/specs/direct-publisher-feed-specs/json-dp-spec.md" target="_blank">JSON Direct Publisher Feed Specification</a>.</p>

	<p>This website may not be used for any malicious purposes. You must also comply with any Roku developer policies, terms of use, and privacy policies while using the Roku platform.</p>

	<h3>Privacy Policy</h3>

	<p>This website does not contain any tracking technology. If tracking technologies are added, it is your sole responsibility to comply with any and all privacy laws within the jurisdiction that the website is operating and the jurisdiction of your place of residence.</p>

<!-- container end -->
  </div>

</main>

{% endblock %}