{% extends 'base.html' %}

{% load static %}

{% block content %}

<!-- Begin page content -->
<main class="flex-shrink-0">
  <div class="container">
    <p>&nbsp;</p>
    <h1 class="mt-5">Playlists</h1>

    <p>A <strong>Playlist</strong> is an ordered list of videos that may contain a mix of videos for <a href="{% url 'movie-list' %}"><strong>Movies</strong></a>, <a href="{% url 'series-list' %}"><strong>Series</strong></a>, <a href="{% url 'shortformvideo-list' %}"><strong>Short-Form Videos</strong></a>, or <a href="{% url 'tvspecial-list' %}"><strong>TV Shows</strong></a>. It is a list of <a href="{% url 'video-list' %}"><strong>Video</strong></a> IDs that are defined elsewhere in the content feed. The same video can be included in multiple playlists. Playlists are similar to Tags: they help define the content that a channel's categories will display. The main difference is that playlists enable the order of the content to be manually specified; therefore, playlists are ideal for creating a "Featured" <a href="{% url 'category-list' %}"><strong>Category</strong></a> in a channel.
    </p>

    <p><a href="{% url 'playlist-create' %}"><button class="btn btn-primary rounded-pill px-3" type="button">Create Playlist</button></a></p>

    <div class="row">
      <div class="col-lg-12">
        <!-- <h4>Available Video Assets</h4> -->
        <div class="table-responsive">
          <table class="table table-striped table-hover table-md">
            <thead>
              <tr align="center" class="table-primary">
                <th>#</th>
                <th>Playlist Name</th>
                <th>Created</th>
                <th>Is Public</th>
              </tr>
            </thead>
            <tbody>
              {% for asset in playlist %}
              <tr align="center">
                <td>{{ asset.id }}</td>
                <td align="left"><a href="{% url 'playlist-detail' asset.id %}">{{ asset.playlist_name }}</a></td>
                <td>{{ asset.created }}</td>
                <td>{{ asset.is_public }}</td>
              </tr>
              {% endfor %}

              {% if is_paginated %}
              <nav>
                <ul class="pagination justify-content-center">
                  {% if page_obj.has_previous %}
                    <li class="page-item">
                      <a class="page-link" href="?page=1" tabindex="-1" aria-disabled="false">First</a>
                    </li>
                    <li class="page-item">
                      <a class="page-link" href="?page={{ page_obj.previous_page_number }}" tabindex="-1" aria-disabled="false">Previous</a>
                    </li>
                  {% else %}
                    <li class="page-item disabled">
                      <a class="page-link" tabindex="-1" aria-disabled="true" href="#">First</a>
                    </li>
                    <li class="page-item disabled">
                      <a class="page-link" tabindex="-1" aria-disabled="true" href="#">Previous</a>
                    </li>
                  {% endif %}
                  {% for num in page_obj.paginator.page_range %}
                    {% if page_obj.number == num %}
                      <li class="page-item"><a class="page-link" href="?page={{ num }}">{{ num }}</a></li>
                    {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
                      <li class="page-item"><a class="page-link" href="?page={{ num }}">{{ num }}</a></li>
                    {% endif %}
                  {% endfor %}
                  {% if page_obj.has_next %}
                    <li class="page-item">
                      <a class="page-link" href="?page={{ page_obj.next_page_number }}">Next</a>
                    </li>
                    <li class="page-item">
                      <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">Last</a>
                    </li>
                  {% else %}
                    <li class="page-item disabled">
                      <a class="page-link" tabindex="-1" aria-disabled="true" href="#">Next</a>
                    </li>
                    <li class="page-item disabled">
                      <a class="page-link" tabindex="-1" aria-disabled="true" href="#">Last</a>
                    </li>
                  {% endif %}
                </ul>
              </nav>
              {% endif %}

            </tbody>
          </table>
        </div>
      </div>

    <!-- row end -->
    </div>

  <!-- container end -->
  </div>

</main>

{% endblock %}
