{% extends 'base.html' %}

{% load static %}

{% load crispy_forms_tags %}

{% block content %}

<!-- Begin page content -->
<main class="flex-shrink-0">
  <div class="container">
    <p>&nbsp;</p>
    <h2 class="mt-5"><strong>Rating ID:</strong> {{ rating.id }}</h2>

    <p><a href="{% url 'rating-list' %}"><button class="btn btn-info rounded-pill px-3" type="button">< Back to list</button></a>&nbsp;&nbsp;<a href="{% url 'rating-update' rating.id %}"><button class="btn btn-primary rounded-pill px-3" type="button">Edit this Rating</button></a></p>

    <div class="row">
      <div class="col-lg-12">
        <div class="table-responsive">
          <p>&nbsp;</p>
          <table class="table table-striped table-hover table-md">
            <tbody>
              <tr>
                <td><strong>Rating</strong></td>
                <td>{{ rating.rating }}</td>
              </tr>
              <tr>
                <td><strong>Rating Source</strong></td>
                <td>{{ rating.rating_source }}</td>
              </tr>
            </tbody>
          </table>

        </div>
      </div>

    <!-- row end -->
    </div>

  <!-- container end -->
  </div>

</main>

{% endblock %}