{% extends 'base.html' %}

{% load static %}

{% load crispy_forms_tags %}

{% block content %}

<!-- Begin page content -->
<main class="flex-shrink-0">
  <div class="container">
    <p>&nbsp;</p>
    <h2 class="mt-5"><strong>Series ID:</strong> {{ series.id }}</h2>
    
    <p><a href="{% url 'series-list' %}"><button class="btn btn-info rounded-pill px-3" type="button">< Back to list</button></a>&nbsp;&nbsp;<a href="{% url 'series-update' series.id %}"><button class="btn btn-primary rounded-pill px-3" type="button">Edit this Series</button></a></p>

    <div class="row">
      <div class="col-lg-12">
        <div class="table-responsive">
          <p>&nbsp;</p>
          <table class="table table-striped table-hover table-md">
            <tbody>
              <tr>
                <td><strong>UUID</strong></td>
                <td>{{ series.series_id }}</td>
              </tr>
              <tr>
                <td><strong>Title</strong></td>
                <td>{{ series.title }}</td>
              </tr>
              <tr>
                <td><strong>Short Description</strong></td>
                <td>{{ series.short_description }}</td>
              </tr>
              <tr>
                <td><strong>Long Description</strong></td>
                <td>{{ series.long_description }}</td>
              </tr>
              <tr>
                <td><strong>Seasons</strong></td>
                <td>
                  {% if series.seasons.all.count > 0 %}
                    {% for item in series.seasons.all %}
                      <a href="{% url 'season-detail' item.id %}">{{ item }}</a></br>
                    {% endfor %}
                  {% else %}
                    No Seasons added.
                  {% endif %}
                </td>
              </tr>
              <tr>
                <td><strong>Episodes</strong></td>
                <td>
                  {% if series.episodes.all.count > 0 %}
                    {% for item in series.episodes.all %}
                      <a href="{% url 'episode-detail' item.id %}">{{ item }}</a></br>
                    {% endfor %}
                  {% else %}
                    No Episodes added.
                  {% endif %}
                </td>
              </tr>
              <tr>
                <td><strong>Thumbnail</strong></td>
                <td>{{ series.thumbnail }}</td>
              </tr>
              <tr>
                <td><strong>Release Date</strong></td>
                <td>{{ series.release_date }}</td>
              </tr>
              <tr>
                <td><strong>Genres</strong></td>
                <td>{{ series.genres }}</td>
              </tr>
              <tr>
                <td><strong>Tags</strong></td>
                <td>{{ series.tags }}</td>
              </tr>
              <tr>
                <td><strong>Credits</strong></td>
                <td>
                  {% if series.credits.all.count > 0 %}
                    {% for item in series.credits.all %}
                      <a href="{% url 'credit-detail' item.id %}">{{ item }}</a></br>
                    {% endfor %}
                  {% else %}
                    No Credits added.
                  {% endif %}
                </td>
              </tr>
              <tr>
                <td><strong>External ID</strong></td>
                <td>
                  {% if series.external_ids.all.count > 0 %}
                    {% for item in series.external_ids.all %}
                      <a href="{% url 'externalid-detail' item.id %}">{{ item }}</a></br>
                    {% endfor %}
                  {% else %}
                    No External IDs added.
                  {% endif %}
                </td>
              </tr>

           </tbody>
          </table>

        </div>
      </div>

    <!-- row end -->
    </div>

  <!-- container end -->
  </div>

</main>

{% endblock %}